.comment {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  border-bottom: 1px solid #333;
  padding: 16px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
  border: 2px solid #fff;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.username {
  font-weight: bold;
}

.user-handle,
.time {
  color: #888;
  font-size: 14px;
}

.time {
  margin-left: 8px;
}

.comment-body {
  margin: 8px 0;
}

.comment-body p {
  margin: 4px 0;
  line-height: 1.6;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0 5px 0;
}

/* .comment-footer button {
	background: none;
	border: none;
	color: #888;
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 16px;
	cursor: pointer;
	transition: color 0.3s ease;
}

.comment-footer button:hover {
	color: #40e911;
}

.comment-footer button span {
	font-size: 14px;
} */

.group-btn-comment {
  display: flex;
  gap: 8px;
}

.group-btn-comment button {
  background: none;
  border: none;
  color: var(--text-color-dark);
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.group-btn-comment button:hover {
  color: var(--text-color-dark);
}

.comment-footer button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-footer button:hover {
  background-color: #555;
}
