/* Conteneur principal de la section "À Propos" */
.about-container {
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* Titre */
.about-container h1 {
  margin-bottom: 20px;
  color: #140101;
  font-size: 1.8rem;
}

/* Paragraphe */
.about-container p {
  color: #141313;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 480px) {
  .about-container {
    padding: 20px 15px;
  }

  .about-container h1 {
    font-size: 1.5rem;
  }

  .about-container p {
    font-size: 0.9rem;
  }
}
