:root {
  /* Theme light */
  --background-color: #f5f5f5;
  --text-color: #333;

  /* Theme dark */
  --backgroud-color-dark: #1e1e1e;
  --text-color-dark: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light-mode {
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark-mode {
  background-color: var(--backgroud-color-dark);
  color: var(--text-color-dark);
}
