.footer {
  background: var(--background-color-dark);
  padding: 2rem 0;
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
  width: 100%;
  margin-top: auto;
  color: var(--text-color-dark);
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.footer-links a {
  margin: 0 1rem;
  color: var(--text-color-dark);
  text-decoration: none;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #902c2cf0;
}

@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }
}
