.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  color: #333;
  height: 60px;
  padding: 0 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}

.navbar img {
  width: 70px;
  height: 50px;
}

.navbar .dark-mode {
  background-color: #333;
  color: #fff;
  box-shadow: none;
}

.btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s;
  outline: none; /* Pour éviter le contour par défaut */
}

.group-buttons {
  display: flex;
}

.btn:hover {
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}
